In [50]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/onlineretail/OnlineRetail.csv

In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("../input/onlineretail/OnlineRetail.csv", encoding='ISO-8859-1')
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

## EDA

In [80]:
sorted(df.Quantity.unique())[:5]

[-80995, -74215, -9600, -9360, -9058]

"Quantity" values less than zero indicate that the products are returned. Hence we won't consider them in our analysis

In [55]:
df = df[df["Quantity"] > 0]

In [56]:
# Unique stock codes
df.StockCode.nunique()

3941

In [57]:
# Max and Min dates for all transactions
print(min(df.InvoiceDate))
print(max(df.InvoiceDate))

2010-12-01 08:26:00
2011-12-09 12:50:00

In [58]:
sorted(df.UnitPrice.unique())[0:5]

[-11062.06,
 0.0,
 0.001,
 0.04,
 0.06,
 0.07,
 0.08,
 0.09,
 0.1,
 0.12,
 0.14,
 0.16,
 0.17,
 0.18,
 0.19,
 0.2,
 0.21,
 0.22,
 0.24,
 0.25,
 0.27,
 0.28,
 0.29,
 0.3,
 0.31,
 0.32,
 0.34,
 0.35,
 0.36,
 0.37,
 0.38,
 0.39,
 0.4,
 0.42,
 0.43,
 0.5,
 0.52,
 0.53,
 0.55,
 0.58,
 0.59,
 0.61,
 0.62,
 0.63,
 0.64,
 0.65,
 0.68,
 0.69,
 0.72,
 0.73,
 0.74,
 0.75,
 0.76,
 0.78,
 0.79,
 0.8,
 0.81,
 0.82,
 0.83,
 0.84,
 0.85,
 0.86,
 0.9,
 0.92,
 0.94,
 0.95,
 0.97,
 0.98,
 0.99,
 1.0,
 1.01,
 1.02,
 1.04,
 1.05,
 1.06,
 1.07,
 1.08,
 1.1,
 1.11,
 1.12,
 1.18,
 1.19,
 1.21,
 1.23,
 1.24,
 1.25,
 1.26,
 1.27,
 1.28,
 1.34,
 1.35,
 1.36,
 1.38,
 1.4,
 1.42,
 1.43,
 1.45,
 1.46,
 1.48,
 1.49,
 1.5,
 1.53,
 1.55,
 1.6,
 1.63,
 1.64,
 1.65,
 1.66,
 1.67,
 1.68,
 1.69,
 1.7,
 1.71,
 1.74,
 1.75,
 1.79,
 1.8,
 1.84,
 1.85,
 1.86,
 1.87,
 1.88,
 1.89,
 1.9,
 1.91,
 1.92,
 1.93,
 1.95,
 1.96,
 1.97,
 1.98,
 2.0,
 2.02,
 2.04,
 2.06,
 2.07,
 2.08,
 2.09,
 2.1,
 2.11,
 2.12,
 2.13,
 2.16,
 2.17,
 2.21,
 2.22,
 2.25,
 2.26,
 2.29,
 2.3,
 2.31,
 2.32,
 2.33,
 2.35,
 2.39,
 2.4,
 2.41,
 2.42,
 2.45,
 2.46,
 2.48,
 2.49,
 2.5,
 2.51,
 2.54,
 2.55,
 2.6,
 2.62,
 2.65,
 2.66,
 2.67,
 2.69,
 2.75,
 2.76,
 2.82,
 2.85,
 2.88,
 2.89,
 2.9,
 2.91,
 2.92,
 2.94,
 2.95,
 2.96,
 2.98,
 2.99,
 3.0,
 3.01,
 3.12,
 3.13,
 3.14,
 3.15,
 3.16,
 3.19,
 3.2,
 3.21,
 3.24,
 3.25,
 3.26,
 3.28,
 3.29,
 3.3,
 3.32,
 3.33,
 3.35,
 3.36,
 3.37,
 3.38,
 3.39,
 3.4,
 3.44,
 3.45,
 3.49,
 3.5,
 3.57,
 3.58,
 3.59,
 3.73,
 3.75,
 3.81,
 3.82,
 3.83,
 3.85,
 3.86,
 3.88,
 3.89,
 3.9,
 3.91,
 3.92,
 3.95,
 3.97,
 3.98,
 4.0,
 4.02,
 4.08,
 4.12,
 4.13,
 4.14,
 4.15,
 4.16,
 4.17,
 4.18,
 4.21,
 4.24,
 4.25,
 4.27,
 4.3,
 4.48,
 4.5,
 4.58,
 4.6,
 4.62,
 4.65,
 4.67,
 4.68,
 4.7,
 4.71,
 4.76,
 4.77,
 4.78,
 4.79,
 4.8,
 4.81,
 4.86,
 4.95,
 4.96,
 4.98,
 4.99,
 5.0,
 5.06,
 5.08,
 5.09,
 5.1,
 5.13,
 5.14,
 5.15,
 5.17,
 5.18,
 5.21,
 5.29,
 5.32,
 5.35,
 5.38,
 5.39,
 5.4,
 5.45,
 5.49,
 5.51,
 5.55,
 5.63,
 5.64,
 5.66,
 5.68,
 5.74,
 5.75,
 5.79,
 5.82,
 5.83,
 5.88,
 5.91,
 5.94,
 5.95,
 5.97,
 6.0,
 6.23,
 6.25,
 6.32,
 6.35,
 6.36,
 6.37,
 6.38,
 6.4,
 6.42,
 6.45,
 6.5,
 6.54,
 6.58,
 6.6,
 6.62,
 6.63,
 6.65,
 6.67,
 6.7,
 6.71,
 6.72,
 6.75,
 6.77,
 6.78,
 6.79,
 6.89,
 6.91,
 6.95,
 6.98,
 7.0,
 7.05,
 7.07,
 7.08,
 7.13,
 7.18,
 7.22,
 7.25,
 7.45,
 7.46,
 7.48,
 7.5,
 7.62,
 7.64,
 7.65,
 7.84,
 7.85,
 7.9,
 7.95,
 8.0,
 8.07,
 8.12,
 8.15,
 8.25,
 8.29,
 8.32,
 8.33,
 8.47,
 8.49,
 8.5,
 8.62,
 8.87,
 8.95,
 9.08,
 9.13,
 9.15,
 9.16,
 9.32,
 9.34,
 9.42,
 9.57,
 9.77,
 9.86,
 9.89,
 9.95,
 9.96,
 9.98,
 10.0,
 10.13,
 10.17,
 10.19,
 10.2,
 10.29,
 10.39,
 10.4,
 10.62,
 10.65,
 10.75,
 10.79,
 10.82,
 10.85,
 10.95,
 11.02,
 11.05,
 11.15,
 11.17,
 11.25,
 11.27,
 11.63,
 11.65,
 11.67,
 11.87,
 11.9,
 11.95,
 12.0,
 12.21,
 12.29,
 12.46,
 12.48,
 12.5,
 12.72,
 12.75,
 12.95,
 12.96,
 12.98,
 13.13,
 13.16,
 13.29,
 13.31,
 13.35,
 13.57,
 14.13,
 14.43,
 14.55,
 14.95,
 14.96,
 15.0,
 15.28,
 15.79,
 15.95,
 16.09,
 16.13,
 16.42,
 16.46,
 16.63,
 16.65,
 16.67,
 16.95,
 16.98,
 17.0,
 17.02,
 17.88,
 18.0,
 18.29,
 18.68,
 18.95,
 19.13,
 19.53,
 19.75,
 19.84,
 19.94,
 19.95,
 19.96,
 20.0,
 20.38,
 20.5,
 20.79,
 20.8,
 21.0,
 21.23,
 21.74,
 21.95,
 22.0,
 23.0,
 23.53,
 24.67,
 24.95,
 24.96,
 25.0,
 25.49,
 25.53,
 25.95,
 26.33,
 26.95,
 27.0,
 28.0,
 28.66,
 29.13,
 29.17,
 29.43,
 29.53,
 29.74,
 29.79,
 29.95,
 30.0,
 32.04,
 32.22,
 32.69,
 32.95,
 33.05,
 33.29,
 33.33,
 34.0,
 34.04,
 34.5,
 34.95,
 35.0,
 35.75,
 35.95,
 36.08,
 36.13,
 36.17,
 36.5,
 36.71,
 37.46,
 37.5,
 38.26,
 39.13,
 39.5,
 39.95,
 39.96,
 40.0,
 40.46,
 41.63,
 41.67,
 41.75,
 42.55,
 42.75,
 42.95,
 43.57,
 45.0,
 46.0,
 46.13,
 46.86,
 47.67,
 48.0,
 49.13,
 49.46,
 49.62,
 49.95,
 49.96,
 50.0,
 50.6,
 50.64,
 50.96,
 51.02,
 52.77,
 53.33,
 53.54,
 53.55,
 54.25,
 55.08,
 55.64,
 56.04,
 56.79,
 57.58,
 57.63,
 57.67,
 57.95,
 58.29,
 58.33,
 58.5,
 59.53,
 59.95,
 60.79,
 61.63,
 61.71,
 61.79,
 62.46,
 64.88,
 65.0,
 65.67,
 65.79,
 66.38,
 69.0,
 69.92,
 72.33,
 74.75,
 74.96,
 75.58,
 75.67,
 75.71,
 75.75,
 75.79,
 76.55,
 77.96,
 78.29,
 79.0,
 79.67,
 79.83,
 79.95,
 80.46,
 81.33,
 81.42,
 82.21,
 82.5,
 83.33,
 84.21,
 84.63,
 85.0,
 85.58,
 85.79,
 86.38,
 86.77,
 87.04,
 87.75,
 88.71,
 88.75,
 88.83,
 89.79,
 90.42,
 91.33,
 92.88,
 93.75,
 95.38,
 97.79,
 97.96,
 98.54,
 98.75,
 98.79,
 99.96,
 100.0,
 100.17,
 101.0,
 101.17,
 101.92,
 102.5,
 103.4,
 103.57,
 105.21,
 105.71,
 105.96,
 106.04,
 106.4,
 107.58,
 108.75,
 109.19,
 109.25,
 110.0,
 110.13,
 110.6,
 110.92,
 111.73,
 111.79,
 111.86,
 112.35,
 112.37,
 112.5,
 112.67,
 113.45,
 113.99,
 114.34,
 114.62,
 115.42,
 116.67,
 116.69,
 116.71,
 117.42,
 117.63,
 118.25,
 118.33,
 118.38,
 119.13,
 119.51,
 119.77,
 120.0,
 120.17,
 120.88,
 120.92,
 121.06,
 122.5,
 122.58,
 122.65,
 122.99,
 124.08,
 124.16,
 124.27,
 124.79,
 124.83,
 124.87,
 125.0,
 125.88,
 125.96,
 126.54,
 127.09,
 127.24,
 127.54,
 127.89,
 128.25,
 128.6,
 129.08,
 129.38,
 130.58,
 130.63,
 130.71,
 131.22,
 131.42,
 131.46,
 131.58,
 131.69,
 132.25,
 132.29,
 132.33,
 133.06,
 133.13,
 133.17,
 133.3,
 133.64,
 134.0,
 134.04,
 134.66,
 135.08,
 135.13,
 135.67,
 135.75,
 136.38,
 137.08,
 137.33,
 137.96,
 138.0,
 138.08,
 138.46,
 138.5,
 140.19,
 141.03,
 141.19,
 141.42,
 141.5,
 142.29,
 142.83,
 142.94,
 143.04,
 143.18,
 144.15,
 144.45,
 144.75,
 145.0,
 145.46,
 146.1,
 146.29,
 146.5,
 146.85,
 147.03,
 147.13,
 147.49,
 147.53,
 148.55,
 148.67,
 148.75,
 149.02,
 149.49,
 149.67,
 150.0,
 150.17,
 150.25,
 150.35,
 150.59,
 150.71,
 150.77,
 151.33,
 151.61,
 152.19,
 152.68,
 152.78,
 152.92,
 153.71,
 153.92,
 154.01,
 154.5,
 155.25,
 155.31,
 155.33,
 155.46,
 156.21,
 156.45,
 156.92,
 157.08,
 157.76,
 157.81,
 158.63,
 158.71,
 159.46,
 159.63,
 159.78,
 160.0,
 160.37,
 160.9,
 161.04,
 161.08,
 161.16,
 161.88,
 161.96,
 162.6,
 162.67,
 162.75,
 162.95,
 163.67,
 163.83,
 164.29,
 164.33,
 164.46,
 164.54,
 164.55,
 165.0,
 165.2,
 166.08,
 166.88,
 166.92,
 166.96,
 167.02,
 167.03,
 167.58,
 167.88,
 168.19,
 168.53,
 168.63,
 169.29,
 169.55,
 170.54,
 170.92,
 170.98,
 171.04,
 171.07,
 171.42,
 171.46,
 172.42,
 172.54,
 172.62,
 172.63,
 172.99,
 173.3,
 173.42,
 173.59,
 174.12,
 174.24,
 174.78,
 175.0,
 175.13,
 175.28,
 175.6,
 175.69,
 175.88,
 176.41,
 176.48,
 176.52,
 176.71,
 176.72,
 176.8,
 177.63,
 177.96,
 178.12,
 178.29,
 178.71,
 178.84,
 179.29,
 179.67,
 179.94,
 180.17,
 180.5,
 180.92,
 181.34,
 181.45,
 181.83,
 181.88,
 182.25,
 182.37,
 182.38,
 182.67,
 183.09,
 183.2,
 183.55,
 183.75,
 184.6,
 184.92,
 184.96,
 185.28,
 185.66,
 185.83,
 185.88,
 186.87,
 187.1,
 187.21,
 187.89,
 188.15,
 188.46,
 188.54,
 188.88,
 188.89,
 189.57,
 189.59,
 189.68,
 189.79,
 189.84,
 189.91,
 191.06,
 191.46,
 191.67,
 191.78,
 191.96,
 192.21,
 192.29,
 192.43,
 192.44,
 192.54,
 192.67,
 192.71,
 192.86,
 194.12,
 194.7,
 195.0,
 195.06,
 195.37,
 195.62,
 196.79,
 197.3,
 197.33,
 197.74,
 197.83,
 198.09,
 198.17,
 198.21,
 198.6,
 198.75,
 198.77,
 199.04,
 199.33,
 199.81,
 199.89,
 200.33,
 200.38,
 200.58,
 201.37,
 201.5,
 201.64,
 201.82,
 201.84,
 202.29,
 202.42,
 202.77,
 202.96,
 203.63,
 203.73,
 204.63,
 204.85,
 205.29,
 205.45,
 205.5,
 206.15,
 206.38,
 206.66,
 207.79,
 208.12,
 208.34,
 208.89,
 208.92,
 210.42,
 211.8,
 211.86,
 212.04,
 212.33,
 212.96,
 213.08,
 213.13,
 213.15,
 213.33,
 213.71,
 213.79,
 214.11,
 214.29,
 214.32,
 214.42,
 215.13,
 216.11,
 216.8,
 218.08,
 218.26,
 218.64,
 218.75,
 218.93,
 219.24,
 219.5,
 219.76,
 220.5,
 220.71,
 221.16,
 222.02,
 222.18,
 222.49,
 222.75,
 223.35,
 223.89,
 224.26,
 224.42,
 225.17,
 225.68,
 226.19,
 226.37,
 226.61,
 226.92,
 227.3,
 227.99,
 228.33,
 229.74,
 229.79,
 230.08,
 230.59,
 230.61,
 ...]

In [59]:
# Unit Price zero or less than than zero should be removed
df = df[df["UnitPrice"] > 0]

In [60]:
# Create new column which tells total cost per transaction

df["TotalPrice"] = df["UnitPrice"] * df["Quantity"]

In [61]:
"""
    To calculate Recency, we will need a reference date.
    Lets create a reference date which be the next day to last date of all the transactions mentioned above
    i.e. reference_date = Max_Date + 1
""" 

import datetime
reference_date = max(df.InvoiceDate) + datetime.timedelta(days=1)
reference_date

Timestamp('2011-12-10 12:50:00')

In [62]:
def get_recency(x):
    last_purchase = x.max()
    return (reference_date - last_purchase).days

In [63]:
# aggregate data by the customers
customers = df.groupby('CustomerID').agg(
    recency = ('InvoiceDate', get_recency),
    frequency = ('InvoiceNo', 'count'),
    monetary = ('TotalPrice', 'sum'),
)

customers.head()

            recency  frequency  monetary
CustomerID
12346.0         326          1  77183.60
12347.0           2        182   4310.00
12348.0          75         31   1797.24
12349.0          19         73   1757.55
12350.0         310         17    334.40

# Now for each customer, lets see in which quartile they fall into with respect to Recency, Frequency and Monetary

In [64]:
"""
    Recency quartile calculation
"""

r_labels = range(4, 0, -1) # Ranges from 4 to 1 (More less the recency value, higher their chances of being in earlier buckets)
recency = customers['recency']
r_quartiles, bins = pd.qcut(recency, 4, labels=r_labels, retbins=True)
customers = customers.assign(R=r_quartiles.values)

In [65]:
bins

array([  1.,  18.,  51., 142., 374.])

In [66]:
"""
    Frequency quartile calculation
"""

f_labels = range(1, 5)
frequency = customers['frequency'].rank(method='first') # rank to deal with duplicate values
f_quartiles, bins = pd.qcut(frequency, 4, labels=f_labels, retbins=True)
customers = customers.assign(F = f_quartiles.values)

In [67]:
"""
    Monetary quartile calculation
"""

m_labels = range(1, 5)
monetary = customers['monetary']
m_quartiles, bins = pd.qcut(monetary, 4, labels=m_labels, retbins=True)
customers = customers.assign(M = m_quartiles.values)

In [68]:
customers[['R', 'F', 'M']].head()

            R  F  M
CustomerID
12346.0     1  1  4
12347.0     4  4  4
12348.0     2  2  4
12349.0     3  3  4
12350.0     1  1  2

In [69]:
"""
    Here the RFM values ranges from 1-1-1(lowest) to 4-4-4(Highest).
    If we give equal priority to all the three i.e. R-F-M, then we can
    create a single metric called "score" which is addition of all metrics viz - RFM
"""

'\n    Here the RFM values ranges from 1-1-1(lowest) to 4-4-4(Highest).\n    If we give equal priority to all the three i.e. R-F-M, then we can\n    create a single metric called "score" which is addition of all metrics viz - RFM\n'

In [70]:
customers['score'] = customers[['R','F','M']].sum(axis=1)
customers.head()

            recency  frequency  monetary  R  F  M  score
CustomerID
12346.0         326          1  77183.60  1  1  4    6.0
12347.0           2        182   4310.00  4  4  4   12.0
12348.0          75         31   1797.24  2  2  4    8.0
12349.0          19         73   1757.55  3  3  4   10.0
12350.0         310         17    334.40  1  1  2    4.0

In [71]:
"""
    Now lets divide the customer base into three categories with scores
    ranging from 3 to 6 are Bronze, from 6 to 9 are Silver and from 9 to 12 are Gold.
"""

def get_tier(df):
    if df['score'] >= 9:
        return 'Gold'
    elif (df['score'] >= 6) and (df['score'] < 9):
        return 'Silver'
    else:
        return 'Bronze'

In [72]:
rfm = customers[["score"]]
rfm['tier'] = rfm.apply(get_tier, axis=1)
rfm.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            score    tier
CustomerID
12346.0       6.0  Silver
12347.0      12.0    Gold
12348.0       8.0  Silver
12349.0      10.0    Gold
12350.0       4.0  Bronze